/* styles.css */

/* Style pour le fond de l'AnchorPane */
.anchor-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20;
}

/* Styles pour la TableView */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 10;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #336699;
}

.table-view .column-header, .table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}





.table-view .table-cell {
    -fx-padding: 8;
    -fx-border-color: transparent;
}

/* Styles pour les TextField */
.text-field {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-background-radius: 5;
}

.text-field:focused {
    -fx-border-color: #336699;
}

/* Styles pour le Button */
.button {
    -fx-background-color: #336699;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #285a8e;
}

.button:pressed {
    -fx-background-color: #1d4373;
}

.button:disabled {
    -fx-background-color: #cccccc;
    -fx-text-fill: #666666;
    -fx-cursor: default;
}

/*facture*/
/* styles.css */

/* Style pour le fond de l'AnchorPane */
.anchor-pane {
    -fx-background-color: #f0f0f0;
}

/* Styles pour la TableView */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 10;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #336699;
}

.table-view .column-header, .table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}





.table-view .table-cell {
    -fx-padding: 8;
    -fx-border-color: transparent;
}

/* Styles pour le Button */
.add-button {
    -fx-background-color: #336699;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.add-button:hover {
    -fx-background-color: #285a8e;
}

.add-button:pressed {
    -fx-background-color: #1d4373;
}



/* Styles pour la barre de navigation */
/* styles.css */

/* Styles pour la barre de navigation */
.navigation-bar {
    -fx-background-color: #2C3E50;
    -fx-padding: 10;
    -fx-spacing: 10;
}

/* Styles pour les éléments de la barre de navigation */
.navigation-item {
    -fx-alignment: center-left;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.navigation-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.label {
    font-size: 16px;
    font-weight: bold;
}

.pie-chart {
    -fx-pref-width: 400px;
    -fx-pref-height: 400px;
}


.navigation-item:hover {
    -fx-background-color: #34495e;
}

.icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 20px;
    -fx-padding-right: 10px;
    -fx-text-fill: white;
}
